.cards {
}
.cards__title {
}

.cards__list {
  /* width: 880px; */
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
/* .cards__item {
  width: 100%;
  min-height: 220px;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 16px;
} */
