.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto; /*чтоб модальное окно отдельно от страницы чкролилось*/
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  justify-content: flex-start;
  cursor: pointer;
  transition: opacity 0.15s ease;
  background-color: rgba(7, 58, 197, 0.5);
}

.modal__body {
  position: relative;
  max-width: 780px;
  /* max-height: 449px; */
  margin: auto;
  padding: 36px;
  padding-bottom: 80px;
  background-color: #fff;
  margin: auto;
  border-radius: 16px;
  box-shadow: 0px 10px 50px 0px rgba(4, 0, 49, 0.1);
  cursor: default;
  /* Заготовка для будущих анимаций */
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(1);
}

.modal__body::after {
  content: "";
  padding: 5px;
  position: absolute;
  width: 150px;
  height: 150px;
  background: url(../img/likemen.png) no-repeat;
  background-position-x: right;
  background-position-y: center;
  right: 0;
  bottom: 0;
}
.modal__vacancy {
}
.vacancy__title-wrapper {
  margin-bottom: 32px;
}
.modal__img {
  max-height: 101px;
  border-radius: 50%;
  margin-right: 20px;
}

.vacancy__title-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
}
.title__company {
  font-size: 32px;
  letter-spacing: 0.64px;
}
.vacancy__skill {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 4px;
  background: #eaecff;
}
.vacancy__content-wrapper {
  display: flex;
}
.content__description {
  max-width: 465px;
  margin-right: 20px;
  margin-bottom: 32px;
  line-height: 1.4;
}
.description__text:first-child {
  margin-bottom: 10px;
}
.vacancy__mfields {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.vacancy__mfield {
  margin-bottom: 4px;
  padding: 3px 10px;
  border-radius: 30px;
  background: #eaecff;
}
.email__link {
  line-height: 1.4;
}
.modal__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  line-height: 0;
  outline: 1px solid transparent;
  border-radius: 3px;
}
.modal__close:focus-visible {
  outline-color: #808080;
}
