.vacancy {
	border-radius: 16px;
	background-color: #fff;
	padding: 16px;
	height: 100%;
	cursor: pointer;
	outline: none;
	border: 2px solid transparent; /* выставляем бордер неотображаемый, чтобы карточки не скакали и меняем при фокусе только цвет бордера*/
	transition: background-color 0.1s ease-in-out;
}
.vacancy:focus-visible {
	border-color: #abadff;/*здесь*/
}
.vacancy:hover{
	background-color: #F9FAFF
}
.vacancy__img {
  max-height: 44px;
  margin-bottom: 12px;
	display: block;
}
.vacancy__company {
  margin-bottom: 8px;
	font-size: 20px;	
}
.vacancy__title {
	display: inline-block;
	padding: 3px 5px;
  margin-bottom: 8px;
	font-weight: 400;
	background-color:#EAECFF;
	border-radius: 4px;
}
.vacancy__field {
	color: #CCC;
}

@media (max-width: 940px) {
	
}